[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
python-dotenv = "*"
email-validator = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
pillow = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
